.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 1144px;
    top: 28px;
    left: 148px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .MEN-WOMEN-CHILDREN {
    position: absolute;
    width: 1180px;
    top: 107px;
    left: 148px;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .line {
    height: 4px;
    top: 197px;
    position: absolute;
    width: 1440px;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 1440px;
    height: 66px;
    top: 207px;
    left: 0;
  }
  
  .desktop .img {
    height: 1px;
    top: 65px;
    position: absolute;
    width: 1440px;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    width: 549px;
    top: 0;
    left: 445px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .product-name {
    left: 84px;
    position: absolute;
    width: 278px;
    top: 781px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .product-name-2 {
    left: 590px;
    position: absolute;
    width: 278px;
    top: 781px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .product-name-3 {
    left: 1072px;
    position: absolute;
    width: 278px;
    top: 781px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .images {
    position: absolute;
    width: 335px;
    height: 377px;
    top: 358px;
    left: 55px;
    object-fit: cover;
  }
  
  .desktop .shopping {
    width: 342px;
    left: 549px;
    position: absolute;
    height: 377px;
    top: 358px;
    object-fit: cover;
  }
  
  .desktop .shopping-2 {
    width: 308px;
    left: 1042px;
    position: absolute;
    height: 377px;
    top: 358px;
    object-fit: cover;
  }
  .desktop .tag{
    color: #000000;
      }
      .desktop .tag:hover{
        border-bottom:2px solid #000000 ;
      }  

.desktop .main{
    position: absolute;
    width: 1144px;
    top: 28px;
    left: 148px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}