.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 1144px;
    top: 28px;
    left: 148px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .MEN-WOMEN-CHILDREN {
    position: absolute;
    width: 1180px;
    top: 107px;
    left: 148px;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .line {
    top: 192px;
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .vfammt {
    position: absolute;
    width: 338px;
    height: 360px;
    top: 399px;
    left: 54px;
    object-fit: cover;
  }
  
  .desktop .img {
    position: absolute;
    width: 338px;
    height: 354px;
    top: 399px;
    left: 551px;
    object-fit: cover;
  }
  
  .desktop .vfamet {
    position: absolute;
    width: 354px;
    height: 354px;
    top: 405px;
    left: 1048px;
    object-fit: cover;
  }
  
  .desktop .line-2 {
    top: 288px;
    position: absolute;
    width: 1440px;
    height: 1px;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .VAN-HEUSEN-anderson {
    position: absolute;
    width: 1394px;
    top: 212px;
    left: 46px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 346px;
    height: 189px;
    top: 773px;
    left: 46px;
  }
  
  .desktop .essential-stain {
    position: absolute;
    width: 346px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .span {
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
  }
  
  .desktop .pngtree-cart-icon {
    position: absolute;
    width: 59px;
    height: 59px;
    top: 96px;
    left: 287px;
    object-fit: cover;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 346px;
    height: 189px;
    top: 773px;
    left: 543px;
  }
  
  .desktop .pngtree-cart-icon-2 {
    height: 59px;
    top: 86px;
    left: 287px;
    position: absolute;
    width: 59px;
    object-fit: cover;
  }
  
  .desktop .overlap-2 {
    position: absolute;
    width: 376px;
    height: 189px;
    top: 778px;
    left: 1048px;
  }
  
  .desktop .pngtree-cart-icon-3 {
    height: 59px;
    top: 87px;
    left: 317px;
    position: absolute;
    width: 59px;
    object-fit: cover;
  }
  
  .desktop .pngtree-cart-icon-4 {
    height: 56px;
    top: 0;
    left: 1381px;
    position: absolute;
    width: 59px;
    object-fit: cover;
  }
  
  .desktop .download {
    position: absolute;
    width: 39px;
    height: 27px;
    top: 313px;
    left: 188px;
    object-fit: cover;
  }
  
  .desktop .rectangle-wrapper {
    position: absolute;
    width: 986px;
    height: 34px;
    top: 309px;
    left: 227px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .desktop .rectangle {
    position: relative;
    height: 34px;
    top: -1px;
    left: -1px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  .desktop .tag{
    color: #000000;
      }
      .desktop .tag:hover{
        border-bottom:2px solid #000000 ;
      }  

.desktop .main{
    position: absolute;
    width: 1144px;
    top: 28px;
    left: 148px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}