.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 3619px;
  position: relative;
}

.desktop .text-wrapper {
  position: absolute;
  width: 1144px;
  top: 28px;
  left: 148px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .MEN-WOMEN-CHILDREN {
  position: absolute;
  width: 1180px;
  top: 107px;
  left: 148px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line {
  height: 4px;
  top: 185px;
  position: absolute;
  width: 1440px;
  left: 0;
  object-fit: cover;
}

.desktop .img {
  height: 1px;
  top: 286px;
  position: absolute;
  width: 1440px;
  left: 0;
  object-fit: cover;
}

.desktop .UNIQLO-collection {
  position: absolute;
  width: 1440px;
  top: 204px;
  left: 62px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .img-2 {
  position: absolute;
  width: 338px;
  height: 377px;
  top: 396px;
  left: 76px;
  object-fit: cover;
}

.desktop .img-3 {
  position: absolute;
  width: 332px;
  height: 377px;
  top: 396px;
  left: 585px;
  object-fit: cover;
}

.desktop .product-name {
  left: 76px;
  position: absolute;
  width: 346px;
  top: 800px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
}

.desktop .span-wrapper {
  width: 346px;
  top: 1405px;
  left: 1082px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  width: 346px;
  top: 2137px;
  left: 594px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .product-name-2 {
  width: 346px;
  top: 2137px;
  left: 1068px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .product-name-3 {
  width: 336px;
  top: 1394px;
  left: 68px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .product-name-4 {
  left: 585px;
  position: absolute;
  width: 346px;
  top: 800px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .product-name-5 {
  left: 1065px;
  position: absolute;
  width: 346px;
  top: 800px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .product-name-6 {
  position: absolute;
  width: 346px;
  top: 1405px;
  left: 585px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .download {
  position: absolute;
  width: 320px;
  height: 382px;
  top: 391px;
  left: 1091px;
  object-fit: cover;
}

.desktop .frame {
  position: absolute;
  width: 230px;
  height: 258px;
  top: 2631px;
  left: 97px;
  overflow: hidden;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 140px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 151px;
  top: 54px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 140px;
  top: 93px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 140px;
  top: 129px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 113px;
  top: 165px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 143px;
  top: 208px;
  left: -3px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-2 {
  position: absolute;
  width: 336px;
  height: 244px;
  top: 2636px;
  left: 492px;
  overflow: hidden;
}

.desktop .text-wrapper-8 {
  position: absolute;
  width: 174px;
  top: -1px;
  left: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 229px;
  top: 53px;
  left: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 278px;
  top: 89px;
  left: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 262px;
  top: 122px;
  left: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .qu-n-l-ph-t-tri-n-th {
  position: absolute;
  width: 312px;
  top: 156px;
  left: 42px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-3 {
  position: absolute;
  width: 397px;
  height: 240px;
  top: 2640px;
  left: 1043px;
}

.desktop .text-wrapper-12 {
  position: absolute;
  width: 121px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-13 {
  position: absolute;
  width: 198px;
  top: 47px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  position: absolute;
  width: 218px;
  top: 74px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-15 {
  position: absolute;
  width: 330px;
  top: 103px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  position: absolute;
  width: 171px;
  top: 131px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-17 {
  position: absolute;
  width: 381px;
  top: 158px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap {
  position: absolute;
  width: 1262px;
  height: 690px;
  top: 2929px;
  left: 47px;
}

.desktop .overlap-group {
  position: absolute;
  width: 1245px;
  height: 690px;
  top: 0;
  left: 0;
}

.desktop .overlap-2 {
  position: absolute;
  width: 670px;
  height: 690px;
  top: 0;
  left: 0;
}

.desktop .frame-4 {
  position: absolute;
  width: 413px;
  height: 217px;
  top: 0;
  left: 59px;
}

.desktop .text-wrapper-18 {
  position: absolute;
  width: 211px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 27px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-group-2 {
  position: absolute;
  width: 310px;
  height: 54px;
  top: 47px;
  left: 0;
}

.desktop .text-wrapper-19 {
  position: absolute;
  width: 273px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-20 {
  position: absolute;
  width: 310px;
  top: 27px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-21 {
  position: absolute;
  width: 330px;
  top: 101px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-22 {
  position: absolute;
  width: 363px;
  top: 128px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-23 {
  position: absolute;
  width: 395px;
  top: 155px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .mau-logo-shop-thoi {
  position: absolute;
  width: 670px;
  height: 450px;
  top: 240px;
  left: 0;
  object-fit: cover;
}

.desktop .text-wrapper-24 {
  position: absolute;
  width: 363px;
  top: 210px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #f24b4b;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .overlap-3 {
  position: absolute;
  width: 773px;
  height: 158px;
  top: 0;
  left: 472px;
}

.desktop .div-wrapper {
  position: absolute;
  width: 737px;
  height: 57px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.desktop .text-wrapper-25 {
  position: absolute;
  width: 648px;
  top: 4px;
  left: 9px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-26 {
  position: absolute;
  width: 745px;
  top: 56px;
  left: 9px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .chi-nh-nh-l-u-t-a {
  position: absolute;
  width: 764px;
  top: 88px;
  left: 9px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-4 {
  position: absolute;
  width: 348px;
  height: 335px;
  top: 274px;
  left: 914px;
}

.desktop .text-wrapper-27 {
  position: absolute;
  width: 348px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .ATM-decals {
  position: absolute;
  width: 292px;
  height: 292px;
  top: 43px;
  left: 0;
  object-fit: cover;
}

.desktop .element {
  position: absolute;
  width: 328px;
  height: 377px;
  top: 990px;
  left: 76px;
  object-fit: cover;
}

.desktop .timthumb {
  position: absolute;
  width: 338px;
  height: 377px;
  top: 990px;
  left: 585px;
  object-fit: cover;
}

.desktop .img-4 {
  position: absolute;
  width: 338px;
  height: 377px;
  top: 990px;
  left: 1082px;
  object-fit: cover;
}

.desktop .img-5 {
  position: absolute;
  width: 338px;
  height: 377px;
  top: 1721px;
  left: 68px;
  object-fit: cover;
}

.desktop .product-name-7 {
  width: 346px;
  top: 2137px;
  left: 55px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .element-2 {
  position: absolute;
  width: 338px;
  height: 377px;
  top: 1721px;
  left: 594px;
  object-fit: cover;
}

.desktop .images {
  position: absolute;
  width: 339px;
  height: 377px;
  top: 1721px;
  left: 1071px;
  object-fit: cover;
}

.desktop .line-2 {
  height: 1px;
  top: 2390px;
  position: absolute;
  width: 1440px;
  left: 0;
  object-fit: cover;
}
.desktop .tag{
  color: #000000;
    }
    .desktop .tag:hover{
      border-bottom:2px solid #000000 ;
    }  

.desktop .main{
  position: absolute;
  width: 1144px;
  top: 28px;
  left: 148px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}