.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 1144px;
    top: 28px;
    left: 148px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .MEN-WOMEN-CHILDREN {
    position: absolute;
    width: 1180px;
    top: 107px;
    left: 148px;
    font-family: "Inter", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .line {
    height: 4px;
    top: 185px;
    position: absolute;
    width: 1440px;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .img {
    height: 1px;
    top: 286px;
    position: absolute;
    width: 1440px;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .UNIQLO-collection {
    position: absolute;
    width: 1440px;
    top: 204px;
    left: 62px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .img-2 {
    position: absolute;
    width: 338px;
    height: 377px;
    top: 396px;
    left: 76px;
    object-fit: cover;
  }
  
  .desktop .img-3 {
    position: absolute;
    width: 332px;
    height: 377px;
    top: 396px;
    left: 585px;
    object-fit: cover;
  }
  
  .desktop .product-name {
    left: 76px;
    position: absolute;
    width: 346px;
    top: 800px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .span {
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
  }
  
  .desktop .span-wrapper {
    left: 585px;
    position: absolute;
    width: 346px;
    top: 800px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .p {
    left: 1065px;
    position: absolute;
    width: 346px;
    top: 800px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .download {
    position: absolute;
    width: 320px;
    height: 382px;
    top: 391px;
    left: 1091px;
    object-fit: cover;
  }
  .desktop .tag{
    color: #000000;
      }
      .desktop .tag:hover{
        border-bottom:2px solid #000000 ;
      }  

.desktop .main{
    position: absolute;
    width: 1144px;
    top: 28px;
    left: 148px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}